/********** ALL PAGES  **********/
body {
  background-color: rgb(255, 255, 153);
}

/***** NAV BAR  *****/
nav {
  background-color: #000000;
  height: 12em;
  line-height: 30px;
  padding-top: 0.5em;
}

nav ul a {
  padding-top: 5em;
  font-size: 2em;
  color: rgb(255, 255, 153);
  padding: 2em 1.5em;
}

/***** SIDE BAR  *****/
.sidenav {
  background-color: rgb(255, 255, 153);
}

/***** LOGO  *****/
.brand-logo {
  margin-right: 1em;
}

/********** USER PAGE  **********/
/***** SLIDER IMAGES  *****/
h1 {
  text-shadow: 4px 4px #000000;
}

h3 {
  text-shadow: 4px 4px #000000;

}

/***** HEADING  *****/
h2 {
  text-align: center;
  margin: 1em 0 0.5em 0;
  color: #343434;
  font-weight: normal;
  font-family: "Ultra", sans-serif;
  font-size: 50px;
  line-height: 42px;
  text-transform: uppercase;
  text-shadow: 0 2px #13cec4, 0 3px white;
}

/***** HEADING  *****/
h4 {
  text-align: center;
  margin: 1em 0 0.5em 0;
  color: #343434;
  font-weight: normal;
  font-family: "Ultra", sans-serif;
  font-size: 22px;
  line-height: 42px;
  text-shadow: 0 1px #13cec4, 0 1px white;
}

/***** FORM  *****/
.input-field {
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 4px;
}

.nav-wrapper img {
  height: 5em;
  margin-bottom: 2em;
}

.input-field label {
  color: #000;
}

.input-field input[type="text"]:focus + label {
  color: #000;
  padding-top: 1em;
}

.input-field input[type="email"]:focus + label {
  color: #000;
  padding-top: 1em;
}

.row .col {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}

/***** RATINGS BAR  *****/
input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #13cec4;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #13cec4;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #13cec4;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #13cec4;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #13cec4;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #13cec4;
}

/***** BUTTONS  *****/
.submit_review {
  color: rgb(255, 255, 153);
  margin: auto;
  display: block;
}

/********** REVIEWS PAGE  **********/
/***** BUTTONS  *****/
.reviews_button {
  color: rgb(255, 255, 153);
  margin-left: 1em;
}

/********** EDIT REVIEWS PAGE  **********/
/***** BUTTONS  *****/
.edit_review {
  color: rgb(255, 255, 153);
  margin: auto;
  display: block;
}

/********** MOVIES PAGE  **********/
/***** BUTTONS  *****/
.insert_movie {
  color: rgb(255, 255, 153);
  margin: auto;
  display: block;
  margin-top: 1em;
}

/********** ADD MOVIES PAGE  **********/
/***** BUTTONS  *****/
.add_movie {
  color: rgb(255, 255, 153);
  width: 20%;
  margin-left: 40%;
  margin-right: 30%;
}
