{% extends 'base.html'%} {% block content %}

<h2>Add Movie</h2>

<h4>Please add a movie on the form below</h4>

<!--********** FORM TO ADD MOVIES **********-->
<form action="{{ url_for('insert_movie') }}" method="POST" class="col s12">
  <div class="row">
    <div class="input-box col s6">
      <input
        id="title"
        name="title"
        type="text"
        class="validate"
        placeholder="Title"
      />
    </div>

    <br />

    <div class="input-box col s6">
      <input
        id="year"
        name="year"
        type="number"
        class="validate"
        placeholder="Year"
      />
    </div>

    <br />

    <div class="input-box col s6">
      <input
        id="runtime"
        name="runtime"
        type="number"
        class="validate"
        placeholder="Run Time"
      />
    </div>

    <br />

    <div class="input-box col s6">
      <input
        id="actors"
        name="actors"
        type="text"
        class="validate"
        placeholder="Actors"
      />
    </div>

    <br />

    <div class="input-box col s6">
      <input
        id="director"
        name="director"
        type="text"
        class="validate"
        placeholder="Director"
      />
    </div>

    <br />

    <div class="input-box col s6">
      <input
        id="genres"
        name="genres"
        type="text"
        class="validate"
        placeholder="Genres"
      />
    </div>

    <br />

    <div class="input-box col s6">
      <input id="plot" name="plot" type="text" class="validate" />
    </div>

    <br />

    <div class="row">
      <button
        class="btn insert_movie waves-effect waves-light black"
        type="submit"
        name="action"
      >
        Insert Movie
        <i class="material-icons right">add</i>
      </button>
    </div>
    {% endblock %}
  </div>
</form>
