<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
      type="text/css"
    />
    <title>Hollywood Reviews</title>
    <link rel="icon" href="{{url_for('static', filename='img/hollywood-icon.jpg')}}" />
  </head>

  <!--********** NAV BAR AND LOGO **********-->
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="{{url_for('add_review')}}" class="brand-logo right">
            <img src="{{url_for('static', filename='img/hollywood-reviews-logo.png')}}" />
          </a>
          <a
            href="{{url_for('add_review')}}"
            data-target="mobile-demo"
            class="sidenav-trigger"
            ><i class="material-icons">menu</i></a
          >
          <ul class="left hide-on-med-and-down">
            <li><a href="{{url_for('add_review')}}">Home</a></li>
            <li><a href="{{url_for('get_reviews')}}">Reviews</a></li>
            <li><a href="{{url_for('get_movies')}}">Movies</a></li>
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
        <li><a href="{{url_for('add_review')}}">Home</a></li>
        <li><a href="{{url_for('get_reviews')}}">Reviews</a></li>
        <li><a href="{{url_for('get_movies')}}">Movies</a></li>
      </ul>
    </header>

    <!--********** BLOCK OF CONTENT FOR ALL PAGES **********-->
    {% block content %} {% endblock %}

    <!--********** SCRIPTS **********-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--********** JQUERY USED IN SITE **********-->
    <!--********** USED FOR THE SIDE NAV BAR OF ALL PAGES **********-->
    <!--********** USED FOR THE COLASIBLE IN REVIEW AND MOVIES PAGES **********-->
    <!--********** USED FOR THE DATE PICKER FUNTION IN USER PAGE **********-->
    <!--********** USED FOR THE COUNTRY SELECTOR FUNTION IN USER PAGE **********-->
    <!--********** USED FOR THE SLIDER IMAGES IN USER PAGE **********-->
    <!--********** USED FOR THE SEARCH BAR IN THE MOVIES PAGE **********-->

    <script type="text/javascript">
      $(document).ready(function () {
        $(".sidenav").sidenav();
      });

      $(document).ready(function () {
        $(".collapsible").collapsible();
      });

      $(document).ready(function () {
        $(".datepicker").datepicker();
      });

      $(document).ready(function () {
        $("select").formSelect();
      });

      $(document).ready(function () {
        $(".slider").slider();
      });

      function checkInput() {
        var query = document.getElementById("search").value;
        window.find(query);
        return true;
      }
    </script>
  </body>
</html>
