<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
      type="text/css"
    />
    <title>Hollywood Reviews</title>
  </head>
  <body>
    <!--********** BLOCK OF CONTENT FOR ALL PAGES **********-->
    {% block content %} {% endblock %}

    <!--********** SCRIPTS **********-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--********** JQUERY USED IN SITE **********-->
    <!--********** USED FOR THE COLLASPE FUNTION IN MOVIE PAGE **********-->
    <!--********** USED FOR THE DATE PICKER FUNTION IN USER PAGE **********-->
    <!--********** USED FOR THE COUNTRY SELECTOR FUNTION IN USER PAGE **********-->
    <script type="text/javascript">
      $(document).ready(function () {
        $(".collapsible").collapsible();
      });

      $(document).ready(function () {
        $(".datepicker").datepicker();
      });

      $(document).ready(function () {
        $("select").formSelect();
      });
    </script>
  </body>
</html>
