{% extends 'base.html' %} {% block content %}
<ul class="collapsible" data-collapsible="accordion">
  {% for movies in movie_information %}
  <li>
    <div class="collapsible-header">
      <div class="task_header col s9">
        <i class="material-icons">expand_more</i
        ><strong>{{movies.movie_title}}</strong> &nbsp; Reviewed By - {{movies.reviewed_by}}
      </div>
    </div>
    <div class="collapsible-body">
      <span>
        <strong>Release Date</strong> - {{movies.release_date}} <br>
        <strong>Run Time</strong> - {{movies.run_time}} <br>
        <strong>Top Billed Cast</strong> - {{movies.cast_1}}<br>
        {{movies.cast_2}} <br>
        {{movies.cast_3}} <br>
        <strong>Synopsis</strong> - {{movies.synopsis}} <br>
      </span>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}
