{% extends 'base.html' %} {% block content %}

<h2>Movies</h2>

<h4>Click 'Add Movie' to add a new movie or search for an existing one</h4>

<a
  href="{{url_for('add_movie')}}"
  class="waves-effect waves-light btn add_movie black"
  >Add Movie</a
>

<div class="search_box">
  <form
    action=""
    name="search_movie"
    onsubmit="return emptyValidation()"
    method="POST"
    required
  >
    <div>
      <input type="text" id="search" name="search" required />
      <input
        type="button"
        id="submit_form"
        onclick="checkInput()"
        value="Submit"
        class="waves-effect waves-light btn search_movie black"
        required
      />
    </div>
  </form>
</div>

<!--********** COLLAPSIBLE TO SHOW ALL MOVIES **********-->
<ul class="collapsible" data-collapsible="accordion">
  {% for movies in movie_information %}
  <li>
    <!--********** COLLAPSIBLE HEADING TO SHOW MOVIES **********-->
    <div class="collapsible-header">
      <div class="task_header col s9">
        <i class="material-icons">expand_more</i
        ><strong>{{movies.title}}</strong>
      </div>
    </div>

    <!--********** COLLAPSIBLE BODY TO SHOW MOVIES **********-->
    <div class="collapsible-body">
      <span>
        <strong>Year Released</strong> - {{movies.year}} <br />
        <strong>Run Time</strong> - {{movies.runtime}} <br />
        <strong>Actors</strong> - {{movies.actors}}<br />
        <strong>Director</strong> - {{movies.director}} <br />
        <strong>Genres</strong> - {{movies.genres}} <br />
        <strong>Plot</strong> - {{movies.plot}} <br />
      </span>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}
